<div class="w-full shadow-xl rounded-md overflow-hidden border border-gray-300/50">
  <div class="w-full p-4 flex flex-wrap">
    <div class="w-full flex flex-wrap pb-4">
      <div class="pt-4 w-1/6 rounded overflow-hidden">
        <img
          [src]="question?.owner?.profile_image"
          [alt]="question?.owner?.display_name"
          loading="lazy"
          (error)="onImageError($event)"
          class="w-full h-16 object-cover" />
      </div>
      <div class="w-5/6 pl-4">
        <h2 class="!m-0">
          <div>{{ question?.title }}</div>
        </h2>
        <div class="text-sm pt-1">
          Created {{ question?.creation_date | date : 'dd-MM-YYYY' }} by  {{ question?.owner?.display_name }}
        </div>
      </div>
    </div>
    <div class="w-full">
      <div>
        <div class="flex flex-wrap items-center">
          <!-- <div class="">Tags:</div> -->
          <div *ngFor="let tag of question?.tags" class="mx-2 my-1 rounded-md borde text-sky-700">
            {{ tag }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
